:root{
    --background: #c7c7c7;
}

body {
    font-family: 'Roboto',sans-serif;
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background);
}